@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@1,400;1,500&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #212121;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}

.pizza-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    font-size: 2rem;
    font-weight: 0.5rem;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: #FF6D8A
}

.selection {
    padding: 10px;
}

.seleccionar input {
    width: 100%;
    max-width: 350px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

.seleccionar input p {
    padding-left: 1rem;
    font-size: large;
    
}

.seleccionar input p::placeholder {
    padding-left: 2rem;
    text-align: center;
    border-radius: 8px;
}

.seleccionar-btn {
    margin: 25px;
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    color: #43316A;
    background-color: #AE8AFF;
    cursor: pointer;
}

.title p {
    color: rgb(240, 223, 128);
}

.message {
    color: rgb(240, 223, 128);
}

.precio p {
    color: rgb(255, 255, 255)
}